html, body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.parentdiv{
    display: flex;
    align-items: flex-start;

}

.about{
    height: 70px;
    width: 155px;
    border: solid 1px black;
    border-radius: 1rem;
    position: absolute;
    cursor: pointer;
    top: 330px;
    left: 380px;
    box-shadow: 0 4px 8px rgba(0.3,0,0,0.4);
    transition: 0.3s;
    font-size: 50px;
    font-family: "Pirata One", system-ui;
    padding-left: 60px;
}

.about:hover{
    background: rgb(181, 206, 244);
    transform: translateY(-4px) translateX(-2px);
}

.start{ 
    height: 70px;
    width: 155px;
    border: solid 1px black;
    border-radius: 1rem;
    position: absolute;
    top: 330px;
    left: 650px;
    box-shadow: 0 4px 8px rgba(0.3,0,0,0.4);
    cursor: pointer;
    transition: 0.3s;
    font-size: 50px;
    font-family: "Pirata One", system-ui;
    padding-left: 65px;
}

.start:hover{
    background:  rgb(181,206,244);
    transform: translateY(-4px) translateX(-2px);
}

.text{
    font-family: "Pirata One", system-ui;
    position: absolute;
    font-size: 70px;
    text-align: center;
    justify-content: center;
    top: 190px;
    left: 340px;
}