html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(105, 152, 220, 0.912);
}

.parentdiv{
    display: flex;
    align-items: flex-start;
    border: solid 2px black;
    height: 597px;
    width: 1266px;
    z-index: 2;
}

.about{
    height: 70px;
    width: 155px;
    border: solid 1px black;
    border-radius: 1rem;
    position: absolute;
    cursor: pointer;
    top: 330px;
    left: 380px;
    box-shadow: 0px 4px 8px rgba(0.3,0,0,0.4);
    transition: 0.3s;
    font-size: 50px;
    font-family: "Pirata One", system-ui;
    padding-left: 60px;
    color: black;
    z-index: 2;
}

.about:hover{
    background: rgb(49, 62, 178);
    transform: translateY(-4px) translateX(-2px);
    color: rgb(190, 214, 237);
    z-index: 2;
}

.start{
    height: 70px;
    width: 155px;
    border: solid 1px black;
    border-radius: 1rem;
    position: absolute;
    top: 330px;
    left: 650px;
    box-shadow: 0px 4px 8px rgba(0.3, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.3s;
    font-size: 50px;
    font-family: "Pirata One", system-ui;
    padding-left: 65px;
    z-index: 2;
}

.start:hover{
    background: rgb(49,62,178);
    transform: translateY(-4px) translateX(-2px);
    color: rgb(190, 214, 237);
    z-index: 2;
}

.text{
    font-family: "Pirata One", system-ui;
    position: absolute;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    top: 190px;
    left: 450px;
    z-index: 2;
}

.subtil{
    font-family: "Mansalva", sans-serif;
    position: absolute;
    top: 270px;
    left: 490px;
    font-size: 20px;
    z-index: 2;
}

.box{
    border: solid 1px black;
    position: absolute;
    top: 170px;
    left: 350px;
    height: 300px;
    width: 550px;
    z-index: 1;
}

.wordcr1{
    position: absolute;
    top: 10px;
    left: 300px;
    font-family: "Mansalva", sans-serif;
}

.wordcr2{
    position: absolute;
    top: 100px;
    left: 20px;
    font-family: "Mansalva", sans-serif;
}

.wordcr3{
    position: absolute;
    top: 500px;
    left: 700px;
    font-family: "Mansalva", sans-serif;
}

.wordcr4{
    position: absolute;
    left: 1200px;
    top: 10px;
    font-family: "Mansalva", sans-serif;

}

.wordcr5{
    position: absolute;
    left: 800px;
    top: 90px;
    font-family: "Mansalva", sans-serif;
}

.wordcr6{
    position: absolute;
    left: 250px;
    top: 500px;
    font-family: "Mansalva", sans-serif;
}

.wordcr7{
    position: absolute;
    left: 1100px;
    top: 300px;
    font-family: "Mansalva", sans-serif;
}

.pic1{
    position: absolute;
    left: 320px;
}