html, body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.parentdiv{
    display: flex;
    align-items: flex-start;
    border: solid 2px black;
    height: 597px;
    width: 1266px;

}

.about{
    height: 70px;
    width: 155px;
    border: solid 1px black;
    border-radius: 1rem;
    position: absolute;
    cursor: pointer;
    top: 330px;
    left: 380px;
    box-shadow: 0 4px 8px rgba(0.3,0,0,0.4);
    transition: 0.3s;
    font-size: 50px;
    font-family: "Pirata One", system-ui;
    padding-left: 60px;
}

.about:hover{
    background: rgb(181, 206, 244);
    transform: translateY(-4px) translateX(-2px);
}

.start{ 
    height: 70px;
    width: 155px;
    border: solid 1px black;
    border-radius: 1rem;
    position: absolute;
    top: 330px;
    left: 650px;
    box-shadow: 0 4px 8px rgba(0.3,0,0,0.4);
    cursor: pointer;
    transition: 0.3s;
    font-size: 50px;
    font-family: "Pirata One", system-ui;
    padding-left: 65px;
}

.start:hover{
    background:  rgb(181,206,244);
    transform: translateY(-4px) translateX(-2px);
}

.text{
    font-family: "Pirata One", system-ui;
    position: absolute;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    top: 190px;
    left: 450px;
}

.subtil{
    font-family: "Mansalva", sans-serif;
    position: absolute;
    top: 270px;
    left: 490px;
    font-size: 20px;
}

.img1{
    position: absolute;
    top: 330px;
    left: 10px;
}

.img2{
    position: absolute;
    left: 1000px;
}

.img3{
    transform: rotate(-17deg);
    transition: transform 0.2s;
    position: absolute;
    top: 120px;
    left: 130px;
}

.img4{
    transform: rotate(13deg);
    transition: transform 0.2s;
    position: absolute;
    top: 370px;
    left: 980px;
}


.wordcr1{
    position: absolute;
    top: 10px;
    left: 300px;
    font-family: "Mansalva", sans-serif;
}

.wordcr2{
    position: absolute;
    top: 100px;
    left: 20px;
    font-family: "Mansalva", sans-serif;
}

.wordcr3{
    position: absolute;
    top: 500px;
    left: 700px;
    font-family: "Mansalva", sans-serif;
}

.wordcr4{
    position: absolute;
    left: 1200px;
    top: 10px;
    font-family: "Mansalva", sans-serif;
}

.wordcr5{
    position: absolute;
    left: 800px;
    top: 90px;
    font-family: "Mansalva", sans-serif;
}

.wordcr6{
    position: absolute;
    left: 250px;
    top: 500px;
    font-family: "Mansalva", sans-serif;
}

.wordcr7{
    position: absolute;
    left: 1100px;
    top: 300px;
    font-family: "Mansalva", sans-serif;
}


@keyframes img2 {
    0% {transform: translateY(0px); }
    50% {transform: translateY(-4px); }
    100% { transform: translateY(0px); }
}

.img2 {
    animation: img2 2s ease-in-out infinite;
}

@keyframes img1{
    0% { transform: translateX(0px);}
    55% {transform: translateX(4px);}
    100% { transform: translateX(0px);}
}

.img1{
    animation: img1 4s ease-in-out infinite;
}