body, html{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.submit{
    position: absolute;
    top: 550px;
    left: 1125px;
    background-color: rgb(164, 234, 164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.submit:hover{
    transform: scale(0.9);
    background-color: rgb(119, 119, 192);

}

p{
    font-size: 25px;
    font-family: "Pirata One", system-ui;
    position: absolute;
    top: 10px;
    left: 10px;
}

.div1{
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
    box-shadoW: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1220px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:10px;
}

.div2{
    position: absolute;
    top: 90px;
    left: -4px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 140px;
    width: 1220px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.div3{
    position: absolute;
    left: -4px;
    top: 300px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 140px;
    width: 1216px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

select{
    width: 250px;
    border: solid 1px white;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    border-radius: 3px;
    font-family: "Merienda", cursive;
}

select:hover{
    border-color: rgb(150,84,84);
}

label{
    font-family: "Squada One", sans-serif;
}

.prev{
    position: absolute;
    top: 550px;
    left: 10px;
    background-color: rgb(164, 234, 164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}