body, html{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parent{
    width: 1260px;
    height: 597px;
    border: solid 2px black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.next{
    position: absolute;
    top: 550px;
    left: 1175px;
    background-color: rgb(164, 234, 164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.next:hover{
    transform: scale(0.9);
    background-color: rgb(102,232,102);
}

.div1{
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div2{
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div3{
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div4{
    position: absolute;
    top: 260px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div5{
    position: absolute;
    top: 320px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div6{
    position: absolute;
    top: 380px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div7{
    position: absolute;
    top: 440px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div8{
    position: absolute;
    top: 500px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

select{
    width: 250px;
    border: solid 2px white;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    border-radius: 3px;
    font-family: "Merienda", cursive;
}

select:hover{
    border-color: rgb(145, 90, 90);
}

p{
    font-size: 25px;
    font-family: "Pirata One", system-ui;
    position: absolute;
    top: 10px;
    left: 10px;
}

label{
    font-family: "Squada One", sans-serif;
}

.prev{
    position: absolute;
    top: 550px;
    left: 10px;
    background-color: rgb(164, 234, 164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}