body{
    margin: 0;
    padding: 0;
}


button{
    background-color: rgb(35, 128, 235);
    font-size: 35px;
    border-radius: 14px;
    position: absolute;
    top: 300px;
    left: 550px;
    font-family: "Macondo", cursive;
}