body{
    overflow: hidden;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    font-family: "Pirata One", system-ui;
    font-size: 100px;
    margin-left: 120px;
   
}

.parent{
    width: 1260px;
    height: 590px;
    border: solid 2px black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.box{
  width: 600px;
  height: 400px;
  border: solid 1px black;
  position: absolute;
  top: 110px;
}

.download{
    font-size: 25px;
    position: absolute;
    top: 330px;
    left: 550px;
    border-radius: 16px;
    font-family:"Mansalva", sans-serif;
}


.download:hover{
    background-color: rgb(236, 125, 125);
    color: black;
    cursor: pointer;
   
}

.restart{
    font-size: 25px;
    position: absolute;
    top: 380px;
    left: 550px;
    border-radius: 16px;
    font-family: "Mansalva", sans-serif;
}

.restart:hover{
    background-color: rgb(104, 165, 227);
    color: black;
    cursor: pointer;
}