body, html{
    margin: 0;
    padding: 0;
}

body{
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#snow{
    position: fixed;
    pointer-events: none;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.snowflake{
    position: absolute;
    top: -15px;
    width: 8px;
    height: 8px;
    background: white;
    opacity: 0.8;
    animation: snowfall 4s linear infinite;
    
}

@keyframes snowfall{
    to{
        transform: translateY(110vh);
    }
}

.next{
    position: absolute;
    top: 45px;
    left: 1155px;
    background-color: rgb(164,234,164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.next:hover{
    transform: scale(0.9);
    background-color: rgb(102,232,102);
}

.prev{
    position: absolute;
    top: 45px;
    left: 10px;
    background-color: rgb(164,234, 164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.parent{
    width: 1260px;
    height: 597px;
    border: solid 2px black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.next{
    position: absolute;
    top: 45px;
    left: 1155px;
    background-color: rgb(164, 234, 164);
    font-size: 30px;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.next:hover{
    transform: scale(0.9);
    background-color: rgb(102,232,102);
}

.div1{
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}


.div2{
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}

.div3{
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}

.div4{
    position: absolute;
    top: 260px;
    left: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}

.div5{
    position: absolute;
    top: 320px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   background: rgb(117, 169, 242);
}

.div6{
    position: absolute;
    top: 380px;
    left: 20px;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}

.div7{
    position: absolute;
    top: 440px;
    left: 20px;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}

.div8{
    position: absolute;
    top: 500px;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    height: 20px;
    width: 1200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(117, 169, 242);
}

select{
    width: 250px;
    border: solid 1px white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border-radius: 3px;
    font-family: "Merienda", cursive;
}

select:hover{
    border-color: rgb(150,84,84);
}

input{
    font-family: "Amarante", serif;
}

label{
    font-family: "Squada One", sans-serif;
}

